<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" http-equiv="refresh" content="60">
        <link rel="stylesheet" href="../../config/viewer.css">
        <title> {{.title}} </title>
    </head>
    <body>
        <div class="page">
            <div class="top_bracket">
                {{ range $round := .winners }}
                <div class="round">
                    <p> {{$round.Name}}</p>
                    {{ range $set := $round.Sets }}
                    <div class="set">
                        <div class="player1"> 
                            <div class="nickname1"> 
                                {{$set.Player1}}  
                            </div>
                            <div class="player1_score">
                                {{$set.Player1_score}}
                            </div>
                        </div>
                        <div class="player2"> 
                            <div class="nickname2"> 
                                {{$set.Player2}}
                            </div>
                            <div class="player2_score">
                                {{$set.Player2_score}}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="down_bracket">
                {{ range $round := .losers }}
                <div class="round">
                    <p> {{$round.Name}}</p>
                    {{ range $set := $round.Sets }}
                    <div class="set">
                        <div class="player1"> 
                            <div class="nickname1"> 
                                {{$set.Player1}}  
                            </div>
                            <div class="player1_score">
                                {{$set.Player1_score}}
                            </div>
                        </div>
                        <div class="player2"> 
                            <div class="nickname2"> 
                                {{$set.Player2}}
                            </div>
                            <div class="player2_score">
                                {{$set.Player2_score}}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </body>
</html>